body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #393E46;
    color: white;
}

.head-container {
    display: flex;
    justify-content: space-between;
    background-color: #232931;
}

.head-container span {
    color: white;
    font-size: 25px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-out button {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
    padding: 4px 18px;
    font-size: 15px;
}

.home-out button:hover {
    transform: scale(1.05);
    transition: .3s ease;
}


.button-home {
    background-color: #4ECCA3;
}
