* {
    margin: 0;
    padding: 0;
}

.login-header {
    height: 52.8px;
    width: 100%;
    background-color: #0F3D3E;
    display: flex;
    align-items: center;
    font-size: 25px;
}

.login-header p {
    color: blue;
}

.home-out button {
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    border-radius: 5px;
    padding: 4px 18px;
    font-size: 15px;
}

.home-out button:hover {
    transform: scale(1.05);
    transition: .3s ease;
}



