body {
  background-color: #161853;
}

.container {
  color: white;
  background-color: 
  #FF2D65;
  width: 25%;
  height: 300px;
  padding: 30px;
  position: absolute;
  top: 25%;
  left: 34%;
  border-radius: 3px;
}

.title {
  background-color: 
  #292C6D;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56%;
  padding: 20px;
  margin-left: 75px;
  margin-bottom: 20px;
  margin-top: 60px;
  border-radius: 3px;
}

.username {
  text-align: center;
  width: 63%;
  margin-left: 75px;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 6px;
  margin-bottom: 5px;
}

.password {
  text-align: center;
  width: 63%;
  margin-left: 75px;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 6px;
}

.login-button {
  background-color: 
  #292C6D;
  color: white;
  width: 66%;
  text-align: center;
  margin-left: 75px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 3px;
}

