* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Slab', serif;
} 
 
.form-inner {
    background-image: url('/src/Pages/Homepage/bankpic.jpg');
    width: 500px;
    height: 400px;
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    padding: 15px;
    background-size: cover;
    background-position: center;
}

.form-inner h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffff;
    font-size: 35px;
}

.form-inner .form-group {
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.form-inner .form-group label{
    text-align: center;
    padding-right: 8px;
    color: #ffff;
}

.form-inner .form-group input{
    border: 1px solid #ffff;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    width: 50%;
}

.form-inner button {
    text-align: center;
    /* margin: 5px; */
    margin-left: 90px;
    /* margin-right: 20px; */
    margin-top: 30px;
    width: 100px;
    border: none;
    height: 30px;
    border-radius: 10px;
    cursor: pointer; 
}

.form-inner button:hover {
    background-color:#4c4c4c;
    color: white;
}

.error {
    color: #FF0000FF;
    background: #FFC0CBFF;
    border: 1px solid #FF0000FF;
    border-radius: .25rem;
    padding: .5rem;
    margin: .5rem 0;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, input {
    appearance: none;
    border: none;
    outline: none;
    width: 100px;
    height: 30px;
    justify-content: space-around;
    background: 
    #161853;
    color: white;
    cursor: pointer;
}

.App {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161853;
}

.form-inner {
    width: 500px;
    height: 400px;
    position: absolute;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 3px;
}

form {
    display: block;
    position: relative;
}

form:after {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: 1;
}

form .form-inner {
    position: relative;
    display: block;
    background-color: #FF2D65;
    padding: 30px;
    z-index: 2;
}

form .form-inner h2 {
    color: white; 
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 30px;
}

form .form-inner .form-group {
    display: block;
    width: 300px;
    margin-bottom: 15px;
}

.form-inner .form-group label {
    display: block;
    color: #ffff;
    margin-bottom: 5px;
    transition: .4s;
}

.welcome {
    color: white;
}

.form-inner .form-group:focus-within label {
    color: #161853;
}

form .form-inner .form-group input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    background-color: #fff;
    border-radius: 8px;
    transition: .4s;
}

form .form-inner .form-group input:focus {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

form .form-inner input[type="submit"], .welcome button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, rgb(114, 92, 92) 50%, rgb(114, 91, 91), black
    , rgb(101, 99, 99));
    background-size: 200%;
    background-position: 0%;
    transition: .4s;
    color: #ffff;
    font-weight: 700;
    cursor: pointer;
}

form .form-inner input[type="submit"]:hover {
    background-position: 100% 0%;
}

.welcome h2, .welcome h2 span {
    color: white;
    font-size: 30px;
}

.welcome button {
    margin-top: 30px;
    font-size: 20px;
}

.welcome h2, .welcome h2 span, .welcome button{
    display: flex;
    justify-content: flex-start;
} */
